.movies-card-list__container {
  grid-row-gap: 38px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  justify-items: center;
  margin: 0 70px;
}

.movies-card-list__more-button {
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  border: 0;
}

@media (max-width: 768px) {
  .movies-card-list__container {
    margin: 0 30px;
  }
}

@media (max-width: 320px) {
  .movies-card-list__more-button {
    width: 240px;
  }

  .movies-card-list__container {
    margin: 0 10px;
  }
}