.movie {
  max-width: 339px;
}

.movie__img {
  margin-bottom: 10px;
  max-width: 100%;
  height: 168px;
  width: 300px;
  object-fit: cover;
}

.movie__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.movie__title {
  margin: 0;
  max-width: 260px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 30px;
}

.movie__link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.movie__link:hover {
  opacity: 0.7;
}

.movie__btn {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

.movie__btn:hover {
  opacity: 0.8;
}

.movie__time {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  border-top: 1px solid #e8e8e8;
  padding-top: 6px;
  margin: 0;
}

/* Mobile */

@media screen and (min-width: 768px) {
  .movie__block {
    margin-bottom: 13px;
  }

  .movie__img {
    width: 339px;
    height: 190px;
  }

  .movie__title {
    font-size: 13px;
    line-height: 16px;
    max-width: 300px;
    height: 32px;
  }

  .movie__time {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .movie__img {
    width: 270px;
    height: 151px;
  }

  .movie__title {
    max-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .movie__title {
    max-width: 240px;
  }
}